<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User" >
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="passWord" property="passWord" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
         userName, passWord, userId, status
    </sql>
    <insert id="insert" parameterType="com.example.demo.entity.User" >
        INSERT INTO
        user
        (userName,passWord,userId,status)
        VALUES
        (#{userName}, #{passWord}, #{userId},#{status})
    </insert>
    <select id="getUserById" parameterType="java.lang.String" resultType="com.example.demo.entity.User">
        SELECT userName,passWord,userId,status
        FROM user
        WHERE userId=#{userid}
    </select>
    <select id="getUserByIdAndName" parameterType="java.util.Map" resultType="com.example.demo.entity.User">
        SELECT userName,passWord,userId,status
        FROM user
        WHERE userId=#{userId} and userName=#{userName}
    </select>
</mapper>