<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Role" >
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
         role_name, role_id, url
    </sql>
    <insert id="insertRole" parameterType="com.example.demo.entity.Role" >
        INSERT INTO
        role
        (role_name, role_id, url)
        VALUES
        (#{roleName},  #{roleId},#{url})
    </insert>
    <select id="getRoleList" parameterType="java.lang.String" resultType="com.example.demo.entity.Role">
        SELECT  role_name, role_id, url
        FROM role
        WHERE role_id in (${roleIds})
    </select>

</mapper>